.Wrapper {
  display: flex;
  margin: 10px 0;
}

.Interest {
  position: relative;

  padding-left: 2px;
  width: 50px;
}

.Interest input {
  position: absolute;
  top: 2px;
  right: 4px;
  border: 1px solid #b6b6b6;
}

.Label {
  position: relative;
  font-size: 14px;
}
