.MenuBar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fb7d00;
  color: #ffffff;
}

.MenuBar .inActive {
  flex: 1;
  padding: 7px 0;
  text-align: center;
  background-color: #fb7d00;
  color: #ffffff;
  text-decoration: none;
}

.MenuBar .Active {
  flex: 1;
  padding: 7px 0;
  text-align: center;
  background-color: #ffac59;
  color: #ffffff;
}
