.board {
  display: grid;
  grid-template-columns: 1fr 2fr 10fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr 2fr 10fr 1fr 1fr;
  grid-auto-rows: 1.2fr;
  border: 1px solid black;
}

.board span {
  padding: 10px;
  border: 1px solid black;
}
