.Container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}

.MainContent {
  width: 80%;
  text-align: center;
  background-color: cornsilk;
}

.MainContent .SubContent {
  margin: 0 20px;
  width: 80%;
  text-align: center;
  background-color: burlywood;
}
.SubTab {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 3px 0;
}

.SubTab li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  list-style: none;
}

.OverView {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0;
  width: 70%;
}
