.Wrapper {
  background-color: #ff8000;
  display: block;
}

.WrapperInvisible {
  display: none;
}

.SubTab {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 3px 0;
}

.SubTab li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #ffffff;
  color: #ffffff;
}
