.Wrapper {
  display: flex;
}

.Wrapper input {
  border: 1px solid #b6b6b6;
  position: absolute;
  left: 29px;
}

.Male,
.Female {
  font-size: 14px;
  position: relative;

  width: 55px;
  padding-left: 3px;
}
