.NavigationBar {
  display: flex;
  flex-basis: content;
  flex-direction: row-reverse;
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}

.SignIn,
.MyPage {
  flex: 1fr 1fr;
  margin: 0 3px;
  padding: 0 3px;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
